JWT_SECRET=minha-chave-secreta-super-segura-financeiro-2026
JWT_EXPIRATION=86400000

DB_PASSWORD=xxxx

POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxx
INTERNAL_SECRET=internal-secret-financeiro-2026
SENDGRID_API_KEY=sua-chave-aqui
SENDGRID_FROM_EMAIL=noreply@tlbtech.com
EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_API_KEY=sua-chave-aqui
EVOLUTION_INSTANCE=financeiro